.background{
    background-color: black;
    color: white;
    height: 65px;
}
.header-wrapper{
    height: 65px;
}
.large-font-home{
    font-size: 25px;
    color: white;
    font-weight: bolder;
}